header {
  background-color: #bebe34;
  height: 252px;
}

.div-top {
  padding: 20px;
  font-size: 10px;
}

.main-page-album {
  height: 71vh;
  background: rgb(20, 20, 14);
  background: linear-gradient(
    0deg,
    rgba(20, 20, 14, 1) 57%,
    rgba(131, 131, 50, 1) 94%
  );
}
.a-icont {
  padding: 15px;
  font-size: 40px;
  color: white;
}

.bi-play-circle-fill {
  font-size: 70px;
  color: green;
}
