header {
  background-color: #bebe34;
  height: 330px;
}

.div-top {
  padding: 20px;
  font-size: 10px;
}

.main-page-album {
  height: 62vh;
  background: rgb(20, 20, 14);
  background: linear-gradient(
    0deg,
    rgba(20, 20, 14, 1) 57%,
    rgba(131, 131, 50, 1) 94%
  );
}
.a-icont {
  padding: 15px;
  font-size: 40px;
  color: white;
}

.bi-play-circle-fill {
  font-size: 70px;
  color: green;
}

.img-album {
  width: 240px;
  object-fit: cover;
}

.div-album {
  display: flex;
  justify-content: center;
}

.album-header {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.div-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  margin-top: auto;
  margin-left: 20px;
  color: white;
}

.div-text > h1 {
  font-weight: bold;
  font-size: 100px;
  font-family: italic;
}

.div-text p {
  font-size: 20px;
}
