body {
  background-color: black;
}

.box {
  background-color: rgb(31, 29, 29);
  width: 100%;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;

  padding: 10px;
}

.left-part {
  color: white;
  display: flex;
  align-items: center;
}

.left-part-img {
  border-radius: 10px;
  width: 50px;
}

.leftPart {
  margin-left: 10px;
  line-height: 2px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.leftPart-h3 {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
}
.leftPart-h5 {
  margin-bottom: 0;
  color: grey;
  font-size: 10px;
}

.far.fa-heart {
  margin-left: 15px;
}

.fontIcon {
  font-size: 15px;
  color: white;
}

.fontIconPlay {
  font-size: 25px;
  color: white;
}

.fontSizeNumber {
  font-size: 15px;
  margin: 0;
}

.heart-icon {
  color: white;
}

.heart-icon.green {
  color: green;
}

#heartPath {
  animation: fillHeart 2s ease-in-out;
}

.random-icon {
  color: white;
}

.green {
  color: green;
}

.heart-icon:hover {
  color: green;
}

.fas.fa-random:hover {
  color: green;
}
.fas.fa-step-backward:hover {
  color: green;
}
.fas.fa-step-forward:hover {
  color: green;
}
.fas.fa-retweet:hover {
  color: green;
}
.fas.fa-microphone:hover {
  color: green;
}
.fas.fa-bars:hover {
  color: green;
}
.bi.bi-speaker:hover {
  color: green;
}
.fas.fa-expand-alt:hover {
  color: green;
}
.fas.fa-volume-up:hover {
  color: green;
}
.fas.fa-volume-mute:hover {
  color: green;
}

.rounded-circle {
  border: radius 75%;
  height: 25px;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 5px;
  display: none;
}

.second-dot {
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 6px;
  display: none;
}

#counter {
  text-decoration: none;
  width: 7px;
  height: 1px;
  font-size: 11px;
  color: green;
  position: absolute;
  top: 15px;
  right: 6px;
  display: none;
}

@media screen and (max-width: 768px) {
  .audioIcon {
    display: none;
  }
  .media-quary-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .media-quary-container2 {
    display: flex;
    justify-content: end;
  }
  .heart-icon {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 12px;
    font-size: 20px;
    text-decoration: none;
  }
  .heart-icon:hover {
    color: green;
  }
  .leftPart {
    width: 100%;
  }
  .leftPart-h3 {
    font-size: 18px;
  }
  .leftPart-h5 {
    display: none;
  }

  .listIcon {
    display: none;
  }
  .micIcon {
    display: none;
  }

  .retweetIcon {
    display: none;
  }
  .stepForwardIcon {
    display: none;
  }
  .stepBackwardIcon {
    display: none;
  }
  .random-icon {
    display: none;
  }
  .box {
    background-color: rgb(54, 50, 50);
  }
}
